<div class="column-25 sagreklam" style="height: 3500px;">
    <img src="~/Eksi-Sozluk-2/img/reklam2.png" style="margin-top: 40px; margin-left: 20px;width: 300px;" alt="" class="reklam2">
    <div class="card border border-0 mt-3 tablo" style="margin-left: 20px;">
        <p style="border-top:6px solid rgb(85, 203, 226); width: 300px; background-color: rgb(85, 203, 226); margin: 1px;"></p>
        <table style="width: 300px;">

            <tr style="width:150px; font-size: 14px;">
                <th>
                    <div class="m-0" style="margin-top:2px; padding: 10px;">
                        <a href="" style="width:102px; height: 18px; font-size: 12px; color: #999999; text-decoration: none;">💧TARİH</a> <p style="display: inline; margin-left: 30px;width: 68px; height:15px ; font-size: 10px; color: #999999;"><img src="~/Eksi-Sozluk-2/img/gozluk.png" alt="" style="margin-bottom: 2px; margin-left: 23px;">13,9b</p> <br>
                        <a href="" style="text-decoration: none; color:black; font-size: 12px;line-height: 1.5;">Domatesin ABD'de Sebze Olarak Tescillenmesine Neden Olan İlginç Dava</a>
                    </div>
                </th>
                <td><img src="~/Eksi-Sozluk-2/img/tarih.jpg" alt="" style="width:110px ;height: 110px; "></td>
            </tr>
            <tr style="width:150px; font-size: 14px;">
                <th>
                    <hr class="m-0 p-0">
                    <div class="m-0" style="margin-top:2px; padding: 10px;">
                        <a href="" style="width:102px; height: 18px; font-size: 12px; color: #999999; text-decoration: none;"> 💧TARİH</a> <p style="display: inline; margin-left: 30px;width: 68px; height:15px ; font-size: 10px; color: #999999;"><img src="~/Eksi-Sozluk-2/img/gozluk.png" alt="" style="margin-bottom: 2px; margin-left: 23px;">13,9b</p> <br>
                        <a href="" style="text-decoration: none; color:black; font-size: 12px;line-height: 1.5;">Domatesin ABD'de Sebze Olarak Tescillenmesine Neden Olan İlginç Dava</a>
                    </div>
                </th>
                <td><img src="~/Eksi-Sozluk-2/img/tarih.jpg" alt="" style="width:110px ;height: 110px; "></td>
            </tr>
            <tr style="width:150px; font-size: 14px;">
                <th>
                    <hr class="m-0 p-0">
                    <div class="m-0" style="margin-top:2px; padding: 10px;">
                        <a href="" style="width:102px; height: 18px; font-size: 12px; color: #999999; text-decoration: none;">💧TARİH</a> <p style="display: inline; margin-left: 30px;width: 68px; height:15px ; font-size: 10px; color: #999999;"><img src="~/Eksi-Sozluk-2/img/gozluk.png" alt="" style="margin-bottom: 2px; margin-left: 23px;">13,9b</p> <br>
                        <a href="" style="text-decoration: none; color:black; font-size: 12px;line-height: 1.5;">Domatesin ABD'de Sebze Olarak Tescillenmesine Neden Olan İlginç Dava</a>
                    </div>
                </th>
                <td><img src="~/Eksi-Sozluk-2/img/tarih.jpg" alt="" style="width:110px ;height: 110px; "></td>
            </tr>
        </table>
    </div>
    <div class=" mt-1 " style="width: 300px;height: 130px; border: none; border-radius: 0;background:linear-gradient( to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100% ), url(img/arkaplan1png.png); padding: 5px;margin-left: 20px;">
        <div class="d-inline-block">
            <img src="~/Eksi-Sozluk-2/img/eksisözlükpng.png" alt="" style="width:50px ;height:50px;margin-bottom: 20px;margin-left: 5px;">
            <div class="d-inline-block">
                <a href="" class=" d-block text-white m-0 " style="text-decoration: none;text-shadow:  0 2px 4px rgb(0 0 0 / 90%);">ekşi sözlük <img src="~/Eksi-Sozluk-2/img/adsız.png" alt=""> </a>
                <p class="m-0 d-block" style="font-size: 12px; color: white;">1.416.399 beğenme</p>
            </div>

        </div>
        <div>
            <button style="border: none;width: 116px;height: 24px;font-size: 12px;margin-top: 20px;background-color: #F5F6F7;margin-left: 4px;"><i class="fa-brands fa-square-facebook"></i> <b> Sayfayı Beğen</b> </button>
            <button style="border: none;width: 78px;height: 24px;font-size: 12px;margin-top: 20px;background-color: #F5F6F7;margin-left: 85px;"><i class="fa-solid fa-pencil"></i> <b> Kaydol</b> </button>
        </div>

    </div>
    <div class=" mt-3 mb-4" style="width: 300px;height: 130px; border: none; border-radius: 0;background:linear-gradient( to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100% ), url(img/arkaplan1png.png); padding: 5px;margin-left: 20px;">
        <div class="d-inline-block">
            <img src="~/Eksi-Sozluk-2/img/eksiseyler.png" alt="" style="width:50px ;height:50px;margin-bottom: 20px;margin-left: 5px;">
            <div class="d-inline-block">
                <a href="" class=" d-block text-white m-0" style="text-decoration: none; text-shadow: 0 2px 4px rgb(0 0 0 / 90%);">ekşi şeyler</a>
                <p class="m-0 d-block" style="font-size: 12px;color: white;">1.416.399 beğenme</p>
            </div>

        </div>
        <div>
            <button style="border: none;width: 116px;height: 26px;font-size: 12px;margin-top: 20px;background-color: #F5F6F7;margin-left: 4px;"><i class="fa-brands fa-square-facebook"></i> <b> Sayfayı Beğen</b> </button>
            <button style="border: none;width: 120px;height: 26px;font-size: 11px;margin-top: 20px;background-color: #F5F6F7;margin-left: 40px;"><i class="fa-solid fa-circle-info"></i> <b> Daha fazla bilgi al</b> </button>
        </div>
    </div>
    <div style="width: 300px;height: 40px; margin-left: 20px;">
        <div>
            <button style="border:2px solid #1d9bf0; border-radius: 15px; background-color: #1d9bf0;width:140px ;height: 28px;color: white; font-size: 13px;"><i class="fa-brands fa-twitter"></i> Takip et:sozluk</button>
            <div class="mesaj"><a href="">3.08 Mn Takipçi </a></div>
        </div>
    </div>
    <div class="sticky"><img src="~/Eksi-Sozluk-2/img/altreklamjpg.jpg" alt="" style="width: 300px;height: 250px; margin-left: 20px;"></div>

</div>