<footer class="column-100">

   <br>
    <br>

    <br>

    <br>
   <br>

    <br>


    <br>
    <br>

    <br>

    <br>
    <br>

    <br>

    <br>
    <br>

    <br>

    <br>
    <br>

    <br>
    <br>
    <br>

    <br>

    <br>
    <br>

    <br>



    <div class=" m-auto mb-5" style="font-size: 12px;">
        <hr style="width: 105%;" class="althr">

        <div style="width: 105%; font-size: 14px;" class="alt">
            <div>
                <a href="" class="d-inline cizgi  " style="padding: 0 7px 0 7px;">iletişim</a>
                <a href="" class="d-inline  cizgi " style="padding: 0 7px 0 7px;">şeffaflık raporu</a>
                <a href="" class="d-inline cizgi " style="padding: 0 7px 0 7px;">reklam</a>
                <a href="" class="d-inline cizgi" style="padding: 0 7px 0 7px;">kariyer</a>
                <a href="" class="d-inline cizgi " style="padding: 0 7px 0 7px;">kullanım koşulları</a>
                <a href="" class="d-inline cizgi " style="padding: 0 7px 0 7px;">gizlilik politikamız</a>
                <a href="" class="d-inline cizgi " style="padding: 0 7px 0 7px;">sss</a>
                <a href="" class="d-inline cizgi  " style="padding: 0 7px 0 7px;">istatistikler</a>
                <a href="" class="d-inline cizgi " style="padding: 0 7px 0 7px;">sub-etha</a>
                <a href="" class="d-inline cizgi " style="padding: 0 7px 0 7px;">instagram</a>
                <a href="" class="d-inline cizgi " style="padding: 0 7px 0 7px;">twitter</a>
                <a href="" class="d-inline cizgi " style="padding: 0 7px 0 7px;">facebook</a>


            </div>
        </div>
    </div>
</footer>